<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <h3 class="text-primary">Bootstrap Yazı Renkleri</h3>
            <p class="text-primary">Primary</p>
            <p class="text-secondary">Secondary</p>
            <p class="text-success">Success</p>
            <p class="text-danger">Danger</p>
            <p class="text-warning">Warning</p>
            <p class="text-info">Info</p>
            <p class="text-light bg-dark">Light</p>
            <p class="text-dark bg-light">Dark</p>
        </div>
        <div class="col-md-6 text-center">
            <h4 class="text-primary">Bootstrap Arka Plan Renkleri</h4>
            <p class="bg-primary">Primary</p>
            <p class="bg-secondary">Secondary</p>
            <p class="bg-success">Success</p>
            <p class="bg-danger">Danger</p>
            <p class="bg-warning">Warning</p>
            <p class="bg-info">Info</p>
            <p class="bg-light text-dark">Light</p>
            <p class="bg-dark text-light">Dark</p>
        </div>
    </div>
</div>