<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-primary text-center">Standart HTML Sıralı Liste</h3>
      <ol>
        <li>İnternet Programcılığı</li>
        <li>Görsel Programlama</li>
        <li>Multimedya Uygulamaları</li>
        <li>Nesne Tabanlı Programlama</li>
        <li>Yazılım Mimarileri</li>
      </ol>
      <h3 class="text-primary text-center">Standart HTML Sırasız Liste</h3>
      <ul>
        <li>İnternet Programcılığı</li>
        <li>Görsel Programlama</li>
        <li>Multimedya Uygulamaları</li>
        <li>Nesne Tabanlı Programlama</li>
        <li>Yazılım Mimarileri</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">Bootstrap Liste</h3>
      <ul class="list-group">
        <li class="list-group-item">İnternet Programcılığı</li>
        <li class="list-group-item">Görsel Programlama</li>
        <li class="list-group-item">Multimedya Uygulamaları</li>
        <li class="list-group-item">Nesne Tabanlı Programlama</li>
        <li class="list-group-item">Yazılım Mimarileri</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">Listede Active Özelliği</h3>
      <ul class="list-group">
        <li class="list-group-item">İnternet Programcılığı</li>
        <li class="list-group-item">Görsel Programlama</li>
        <li class="list-group-item active">Multimedya Uygulamaları</li>
        <li class="list-group-item">Nesne Tabanlı Programlama</li>
        <li class="list-group-item">Yazılım Mimarileri</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-primary text-center">Listede Badge Özelliği</h3>
      <ul class="list-group">
        <li class="list-group-item">Liste Elemanı
          <span class="badge">standart badge</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge badge-primary">primary badge</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge badge-secondary">secondary badge</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge badge-success">success badge</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge badge-danger">danger badge</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge badge-warning">warning badge</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge badge-info">info badge</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge badge-dark">dark badge</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge badge-light">light badge</span>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">Listede Badge-Pill Özelliği</h3>
      <ul class="list-group">
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill">standart badge pill</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill badge-primary">primary badge pill</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill badge-secondary">secondary badge pill</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill badge-success">success badge pill</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill badge-danger">danger badge pill</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill badge-warning">warning badge pill</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill badge-info">info badge pill</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill badge-dark">dark badge pill</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill badge-light">light badge pill</span>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">Listede Badge Kaydırma</h3>
      <ul class="list-group">
        <li class="list-group-item">Liste Elemanı
          <span class="badge float-right">standart badge left</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge badge-primary float-left">primary badge left</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge badge-secondary float-right">secondary badge right</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge badge-success float-left">success badge left</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge badge-danger float-right">danger badge right</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill badge-warning float-left">warning badge left</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill badge-info float-right">info badge right</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill badge-dark float-left">dark badge left</span>
        </li>
        <li class="list-group-item">Liste Elemanı
          <span class="badge-pill badge-light float-right">light badge right</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-primary text-center">Renkli Liste Elemanları</h3>
      <ul class="list-group">
        <li class="list-group-item">Liste Elemanı</li>
        <li class="list-group-item list-group-item-primary">Liste Elemanı</li>
        <li class="list-group-item list-group-item-secondary">Liste Elemanı</li>
        <li class="list-group-item list-group-item-success">Liste Elemanı</li>
        <li class="list-group-item list-group-item-danger">Liste Elemanı</li>
        <li class="list-group-item list-group-item-warning">Liste Elemanı</li>
        <li class="list-group-item list-group-item-info">Liste Elemanı</li>
        <li class="list-group-item list-group-item-dark">Liste Elemanı</li>
        <li class="list-group-item list-group-item-light">Liste Elemanı</li>
      </ul>
    </div>
  </div>
</div>