<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{ad}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-inline">
        <input type="text" class="form-control" #ara>
        <button class="btn btn-primary" (click)="KayitAra(ara.value)">Ara</button>
      </div>
      <table class="table table-striped">
        <thead>
          <th>Id</th>
          <th>Adı Soyadı</th>
          <th>Detay</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let kayit of filtreliKayitlar">
            <td>{{kayit.Id}}</td>
            <td>{{kayit.AdSoyad}}</td>
            <td><button class="btn btn-info" [routerLink]="['/detay',kayit.Id]">Detay</button></td>
            <td><button class="btn btn-danger" (click)="KayitSil(kayit)">Sil</button></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>