<app-nav2></app-nav2>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-primary text-center">Standart Kart Yapısı</h3>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Kart Başlığı</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Kart İçeriği Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, saepe
            repudiandae ad hic odit culpa quo officiis obcaecati! Possimus debitis similique recusandae provident fuga
            accusantium esse at sunt dolor minus?
            Obcaecati ducimus ipsum asperiores reprehenderit beatae consectetur ullam id sit possimus, nemo pariatur
            magnam accusamus voluptatem velit a temporibus iusto odio rem amet. Labore laborum earum ipsum, maxime quod
          </p>
        </div>
        <div class="card-footer">
          <p class="card-text">Kart Footer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">Özelleştirilmiş Kart 1</h3>
      <div class="card">
        <div class="card-header bg-warning">
          <h3 class="card-title">Kart Başlığı</h3>
        </div>
        <div class="card-body table-warning text-justify">
          <p class="card-text">Kart İçeriği Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, saepe
            repudiandae ad hic odit culpa quo officiis obcaecati! Possimus debitis similique recusandae provident fuga
            accusantium esse at sunt dolor minus?
            Obcaecati ducimus ipsum asperiores reprehenderit beatae consectetur ullam id sit possimus, nemo pariatur
            magnam accusamus voluptatem velit a temporibus iusto odio rem amet. Labore laborum earum ipsum, maxime quod
          </p>
        </div>
        <div class="card-footer bg-warning">
          <button class="btn btn-outline-dark">Devamını Oku</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">Özelleştirilmiş Kart 2</h3>
      <div class="card">
        <div class="card-header bg-danger">
          <h3 class="card-title text-white">Kart Başlığı</h3>
        </div>
        <div class="card-body text-justify">
          <p class="card-text">Kart İçeriği Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, saepe
            repudiandae ad hic odit culpa quo officiis obcaecati! Possimus debitis similique recusandae provident fuga
            accusantium esse at sunt dolor minus?
            Obcaecati ducimus ipsum asperiores reprehenderit beatae consectetur ullam id sit possimus, nemo pariatur
            magnam accusamus voluptatem velit a temporibus iusto odio rem amet. Labore laborum earum ipsum, maxime quod
          </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-danger">Devamını Oku</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-primary text-center">12 Blokluk Kart Yapısı</h3>
      <div class="card">
        <div class="card-header">
          <h3>Makale Başlığı</h3>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse laborum consectetur cupiditate maxime
            aspernatur ipsum in aperiam, consequuntur commodi earum rerum deserunt, nulla porro placeat quas eum enim
            neque possimus.Obcaecati vitae odit, laboriosam dicta labore reiciendis quo omnis laudantium quod molestias
            necessitatibus officiis excepturi eveniet in laborum ipsa a earum voluptates hic impedit, maxime, minus
            magni reprehenderit neque. Cupiditate.</p>
        </div>
        <div class="card-footer">
          <p>Bu makale 14.11.2020 tarihinde yayınlanmıştır.</p>
        </div>
      </div>
    </div>
  </div>
</div>