<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-primary">Harflerin Büyük-Küçüklüğünü Ayarlama (Sadece Yazının Görüntüsü Etkilenir)</h3>
      <p class="text-uppercase">akdeniz üniversitesi</p>
      <p class="text-lowercase">AKDENİZ ÜNİVERSİTESİ</p>
      <p class="text-capitalize">akdeniz üniversitesi</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-primary">Standart HTML Başlıkları</h3>
      <h1>Akdeniz Üniversitesi</h1>
      <h2>Akdeniz Üniversitesi</h2>
      <h3>Akdeniz Üniversitesi</h3>
      <h4>Akdeniz Üniversitesi</h4>
      <h5>Akdeniz Üniversitesi</h5>
      <h6>Akdeniz Üniversitesi</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-primary">Bootstrap Başlıkları</h3>
      <h1 class="display-1">Akdeniz Üniversitesi</h1>
      <h2 class="display-2">Akdeniz Üniversitesi</h2>
      <h3 class="display-3">Akdeniz Üniversitesi</h3>
      <h4 class="display-4">Akdeniz Üniversitesi</h4>
    </div>
  </div>
</div>