<div class="container">
    <div class="row">
        <div class="col-md-4  text-center">
            <h3>Bootstrap Yazı Renkleri</h3>
            <p class="text-primary">Primary</p>
            <p class="text-secondary">Secondary</p>
            <p class="text-success">Success</p>
            <p class="text-danger">Danger</p>
            <p class="text-warning">Warning</p>
            <p class="text-info">Info</p>
            <p class="text-light">Light</p>
            <p class="text-dark">Dark</p>
        </div>
        <div class="col-md-4  text-center">
            <h4>Bootstrap Arka Plan Renkleri</h4>
            <p class="bg-primary">Primary</p>
            <p class="bg-secondary">Secondary</p>
            <p class="bg-success">Success</p>
            <p class="bg-danger">Danger</p>
            <p class="bg-warning">Warning</p>
            <p class="bg-info">Info</p>
            <p class="bg-light text-dark">Light</p>
            <p class="bg-dark text-light">Dark</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 bg-primary text-white text-left">
            <h6>Primary Arka Plan</h6>
            <h6>White Yazı Rengi</h6>
            <h6>Yazılar Sola Yaslanmış</h6>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum voluptates atque esse, facilis et quo commodi illum necessitatibus soluta, magnam unde veniam repellendus. Repellendus magnam aliquid impedit totam laboriosam mollitia.
            Inventore possimus deleniti alias eaque architecto ex voluptatem officia at, ipsum sequi, magnam ab tenetur natus deserunt totam minus est laudantium nobis, dolor distinctio modi nihil consectetur cum! Exercitationem, illo.
        </div>
        <div class="col-md-4 bg-secondary text-warning text-right">
            <h6>Secondary Arka Plan</h6>
            <h6>Warning Yazı Rengi</h6>
            <h6>Yazılar Sağa Yaslanmış</h6>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum voluptates atque esse, facilis et quo commodi illum necessitatibus soluta, magnam unde veniam repellendus. Repellendus magnam aliquid impedit totam laboriosam mollitia.
            Inventore possimus deleniti alias eaque architecto ex voluptatem officia at, ipsum sequi, magnam ab tenetur natus deserunt totam minus est laudantium nobis, dolor distinctio modi nihil consectetur cum! Exercitationem, illo.
        </div>
        <div class="col-md-4 bg-success text-white text-justify">
            <h6>Success Arka Plan</h6>
            <h6>White Yazı Rengi</h6>
            <h6>Yazılar İki Yana Yaslanmış</h6>  
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum voluptates atque esse, facilis et quo commodi illum necessitatibus soluta, magnam unde veniam repellendus. Repellendus magnam aliquid impedit totam laboriosam mollitia.
            Inventore possimus deleniti alias eaque architecto ex voluptatem officia at, ipsum sequi, magnam ab tenetur natus deserunt totam minus est laudantium nobis, dolor distinctio modi nihil consectetur cum! Exercitationem, illo.
        </div>
    </div>
</div>
