<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-primary">Standart Jumbotron Yapısı</h3>
      <div class="jumbotron">
        <h1 class="display-4">İnternet Programcılığı</h1>
        <p class="lead">Angular & Bootstrap Eğitimi</p>
        <hr class="my-4">
        <p>Jumbotron bir çeşit başlık bloğudur.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-primary">Açıklaması Olmayan Jumbotron Yapısı</h3>
      <div class="jumbotron">
        <h1 class="display-4">İnternet Programcılığı</h1>
        <p class="lead">Angular & Bootstrap Eğitimi</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-primary">Renklendirilmiş Jumbotron Yapısı</h3>
      <div class="jumbotron bg-success">
        <h1 class="display-4 text-light">İnternet Programcılığı</h1>
        <p class="lead text-light">Angular & Bootstrap Eğitimi</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><strong>* Jumbotron'un öğeleri istenildiği gibi değiştirilebilir.</strong></p>
    </div>
  </div>
</div>
