<div class="container">
    <div class="col-md-12">
        <h3 class="col-md-12 text-center">Butonlar Çalışıyor</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button>Sade HTML Butonu</button>
            <hr>
            <button class="btn">Normal</button>
            <hr>
            <button class="btn btn-primary">Primary</button>
            <hr>
            <button class="btn btn-secondary">Secondary</button>
            <hr>
            <button class="btn btn-success">Success</button>
            <hr>
            <button class="btn btn-danger">Danger</button>
            <hr>
            <button class="btn btn-warning">Warning</button>
            <hr>
            <button class="btn btn-info">Info</button>
            <hr>
            <button class="btn btn-dark">Dark</button>
            <hr>
            <button class="btn btn-light">Light</button>
            <hr>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-sm">Küçük Primary</button>
            <hr>
            <button class="btn btn-primary">Normal Primary</button>
            <hr>
            <button class="btn btn-primary btn-lg">Büyük Primary</button>
            <hr>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-block">Primary Block</button>
            <hr>
            <button class="btn btn-success btn-block">Success Block</button>
            <hr>
            <button class="btn btn-danger btn-block">Danger Block</button>
            <hr>
            <button class="btn btn-outline-primary">Primary Outline</button>
            <hr>
            <button class="btn btn-outline-success">Success Outline</button>
            <hr>
            <button class="btn btn-outline-danger">Danger Outline</button>
            <hr>
            <button class="btn btn-outline-primary btn-block">Primary Outline Block</button>
            <hr>
            <button class="btn btn-outline-success btn-block">Success Outline Block</button>
            <hr>
            <button class="btn btn-outline-danger btn-block">Danger Outline Block</button>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-12"> <button class="btn btn-primary">Grupsuz Buton</button>
                <button class="btn btn-success">Grupsuz Group</button>
                <button class="btn btn-danger">Grupsuz Group</button>
                <hr>
                <div class="btn-group">
                    <button class="btn btn-primary">Gruplu Buton</button>
                    <hr>
                    <button class="btn btn-success">Gruplu Buton</button>
                    <hr>
                    <button class="btn btn-danger">Gruplu Buton</button>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>