<app-nav2></app-nav2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <button>Standart HTML Butonu</button>
            <hr>
            <button class="btn">Bootstrap Butonu</button>
            <hr>
            <button class="btn btn-primary">Primary</button>
            <hr>
            <button class="btn btn-secondary">Secondary</button>
            <hr>
            <button class="btn btn-success">Success</button>
            <hr>
            <button class="btn btn-danger">Danger</button>
            <hr>
            <button class="btn btn-warning">Warning</button>
            <hr>
            <button class="btn btn-info">Info</button>
            <hr>
            <button class="btn btn-dark">Dark</button>
            <hr>
            <button class="btn btn-light">Light</button>
            <hr>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-block">Primary Block</button>
            <hr>
            <button class="btn btn-success btn-block">Success Block</button>
            <hr>
            <button class="btn btn-danger btn-block">Danger Block</button>
            <hr>
            <button class="btn btn-outline-primary">Primary Outline</button>
            <hr>
            <button class="btn btn-outline-success">Success Outline</button>
            <hr>
            <button class="btn btn-outline-danger">Danger Outline</button>
            <hr>
            <button class="btn btn-outline-primary btn-block">Primary Outline Block</button>
            <hr>
            <button class="btn btn-outline-success btn-block">Success Outline Block</button>
            <hr>
            <button class="btn btn-outline-danger btn-block">Danger Outline Block</button>
            <hr>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-sm">Küçük Primary</button>
            <hr>
            <button class="btn btn-primary">Normal Primary</button>
            <hr>
            <button class="btn btn-primary btn-lg">Büyük Primary</button>
            <hr>
            <button class="btn btn-success btn-sm">Küçük Success</button>
            <hr>
            <button class="btn btn-success">Normal Success</button>
            <hr>
            <button class="btn btn-success btn-lg">Büyük Success</button>
            <hr>
            <button class="btn btn-warning btn-sm">Küçük Warning</button>
            <hr>
            <button class="btn btn-warning">Normal Warning</button>
            <hr>
            <button class="btn btn-warning btn-lg">Büyük Warning</button>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary">Grupsuz Buton</button>
            <button class="btn btn-success">Grupsuz Buton</button>
            <button class="btn btn-danger">Grupsuz Buton</button>
        </div>
        <div class="col-md-6">
            <div class="btn-group">
                <button class="btn btn-primary">Gruplu Buton</button>
                <button class="btn btn-success">Gruplu Buton</button>
                <button class="btn btn-danger">Gruplu Buton</button>
            </div>
        </div>
    </div>
</div>