<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-primary text-center">Bootstrap Alert</h3>
      <div class="alert alert-primary" role="alert">
        Primary Alert
      </div>
      <div class="alert alert-secondary" role="alert">
        Secondary Alert
      </div>
      <div class="alert alert-success" role="alert">
        Success Alert
      </div>
      <div class="alert alert-danger" role="alert">
        Danger Alert
      </div>
      <div class="alert alert-warning" role="alert">
        Warning Alert
      </div>
      <div class="alert alert-info" role="alert">
        Info Alert
      </div>
      <div class="alert alert-dark" role="alert">
        Dark Alert
      </div>
      <div class="alert alert-light" role="alert">
        Light Alert
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-primary text-center"> Alert İçinde Normal Link</h3>
      <div class="alert alert-success" role="alert">
        <p>Kayıt İşlemi Başarılı</p>
        <a href="#">Oturum Aç</a>
      </div>
      <div class="alert alert-danger" role="alert">
        <p>Bir Hata Oluştu</p>
        <a href="#">Tekrar Deneyin</a>
      </div>
      <h3 class="text-primary text-center"> Alert İçinde Alert Linki</h3>
      <div class="alert alert-success" role="alert">
        <p>Kayıt İşlemi Başarılı</p>
        <a href="#" class="alert-link">Oturum Aç</a>
      </div>
      <div class="alert alert-danger" role="alert">
        <p>Bir Hata Oluştu</p>
        <a href="#" class="alert-link">Tekrar Deneyin</a>
      </div>
    </div>
  </div>
</div>