<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Text Input'a Sadece Sayı</label>
        <input type="text" class="form-control" SadeceSayi>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Sadece Buyuk Harf</label>
        <input type="text" class="form-control" BuyukHarf>
      </div>
    </div>
  </div>
  <div class="row">
    <p>&nbsp;</p>
    <div class="col-md-12">
      <p><strong>
          * Directives, HTML elementlerine yeni özellikler tanımlamayı sağlayan bir yapıdır.
        </strong></p>
      <p><strong>
          ** Yukarıdaki Text Input'a Sadece Sayı örneğinde yazı girdiğimiz input'un türü text olmasına
          rağmen tanımladığımız SadeceSayi directive'i sayesinde klavyede basılan tuşların ASCII
          kodlarına bakarak sayı olup olmadıklarını kontrol edip sadece sayıların input'a yazılmasını
          sağlıyoruz.
        </strong></p>
    </div>
  </div>
</div>