<div class="container fixed-top">
  <div class="row">
    <div class="col-md-12 text-center bg-dark text-light">
        <h1>İnternet Programcılığı 1 Dersi</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-white bg-primary" href="home">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-secondary" href="color">Renk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-success" href="paragraph">Paragraf</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-danger" href="headings">Başlık</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-warning" href="table">Tablo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-info" href="image">Resim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-primary" href="jumbotron">Jumbotron</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-secondary" href="button">Buton</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-success" href="variable">Değişken</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-danger" href="alert">Alert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-warning" href="list">Liste</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-info" href="card">Card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-dark" href="navigation">Navigasyon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-secondary" href="navbar">Navbar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-success" href="angular">Angular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-danger" href="form-control">Form-Control</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-warning" href="form-check">Form-Check</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-info" href="registration-form">Kayıt Formu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-dark" href="ng-template">NG-Template</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-primary" href="input-access">Input'a Erişim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-secondary" href="ng-model">NG-Model</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white bg-success" href="registration-system">Kayıt Sistemi</a>
        </li>
      </ul>
    </div>
  </div>
</div>