<div class="container">
  <div class="row">
    <ul class="nav col-md-12">
      <li class="nav-item bg-primary text-white">
        <a class="nav-link text-white" href="home">Ana Sayfa</a>
      </li>
      <li class="nav-item bg-secondary">
        <a class="nav-link text-white" href="color">Renk</a>
      </li>
      <li class="nav-item bg-success">
        <a class="nav-link text-white" href="paragraph">Paragraf</a>
      </li>
      <li class="nav-item bg-danger">
        <a class="nav-link text-white" href="headings">Başlık</a>
      </li>
      <li class="nav-item bg-warning">
        <a class="nav-link text-white" href="table">Tablo</a>
      </li>
      <li class="nav-item bg-info">
        <a class="nav-link text-white" href="image">Resim</a>
      </li>
      <li class="nav-item bg-primary">
        <a class="nav-link text-white" href="jumbotron">Jumbotron</a>
      </li>
      <li class="nav-item bg-secondary">
        <a class="nav-link text-white" href="button">Buton</a>
      </li>
      <li class="nav-item bg-success">
        <a class="nav-link text-white" href="variable">Değişken</a>
      </li>
    </ul>
  </div>
</div>