<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-primary text-center">Standart HTML Input Text</h3>
      <div class="form-group">
        <input type="text" placeholder="Metin Kutusu"><br>
      </div>
      <h3 class="text-primary text-center">Bootstrap Input Text</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Normal Metin Kutusu"><br>
      </div>
      <h3 class="text-primary text-center">Bootstrap Küçük Input Text</h3>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" placeholder="Küçük Metin Kutusu"><br>
      </div>
      <h3 class="text-primary text-center">Bootstrap Büyük Input Text</h3>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="Büyük Metin Kutusu"><br>
      </div>
      <h3 class="text-primary text-center">Bootstrap Readonly Text</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Büyük Metin Kutusu" readonly><br>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">Standart HTML Select</h3>
      <div>
        <select>
          <option>Seçenek 1</option>
          <option>Seçenek 2</option>
          <option>Seçenek 3</option>
        </select><br>
      </div>
      <h3 class="text-primary text-center">Bootstrap Normal Select</h3>
      <div class="form-group">
        <select class="form-control">
          <option>Seçenek 1</option>
          <option>Seçenek 2</option>
          <option>Seçenek 3</option>
        </select><br>
      </div>
      <h3 class="text-primary text-center">Bootstrap Küçük Select</h3>
      <div class="form-group">
        <select class="form-control form-control-sm">
          <option>Seçenek 1</option>
          <option>Seçenek 2</option>
          <option>Seçenek 3</option>
        </select><br>
      </div>
      <h3 class="text-primary text-center">Bootstrap Büyük Select</h3>
      <div class="form-group">
        <select class="form-control form-control-lg">
          <option>Seçenek 1</option>
          <option>Seçenek 2</option>
          <option>Seçenek 3</option>
        </select><br>
      </div>
      <h3 class="text-primary text-center">Bootstrap Multiple Select</h3>
      <div class="form-group">
        <select multiple class="form-control">
          <option>Seçenek 1</option>
          <option>Seçenek 2</option>
          <option>Seçenek 3</option>
        </select><br>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-primary text-center">Standart HTML Text Area</h3>
      <div class="form-group">
        <textarea cols="30" rows="3">Çok Satırlık Metin Kutusu</textarea><br>
      </div>
      <h3 class="text-primary text-center">Bootstrap Text Area</h3>
      <div class="form-group">
        <textarea class="form-control" rows="3">Çok Satırlık Metin Kutusu</textarea><br>
      </div>
      <h4 class="text-primary text-center">Standart HTML Submit Butonu</h4>
      <div>
        <input type="submit" value="Kaydet"><br>
      </div>
      <h4 class="text-primary text-center">Bootstrap Submit Butonu</h4>
      <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-success"><br>
      </div>
    </div>
  </div>
</div>