<div class="container">
  <div class="row">
    <div class="col-md-12  text-center">
      <h3 class="text-primary">Bootstrap Paragraf Düzeni</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 bg-primary text-white text-left">
      <h6>col-md-4 Bloğu</h6>
      <h6>Primary Arka Plan</h6>
      <h6>White Yazı Rengi</h6>
      <h6>Yazılar Sola Yaslanmış</h6>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi autem consequuntur dolor impedit aperiam, nam
        commodi repellat eligendi sapiente obcaecati quisquam, voluptatibus expedita quas vel eius fugit, labore
        mollitia.
        Illum!
        Numquam debitis est quibusdam veniam voluptatibus eveniet consequuntur velit, illo, blanditiis explicabo aliquam
        at illum necessitatibus culpa, assumenda provident aperiam reprehenderit esse laborum reiciendis quia? Delectus
        voluptatem inventore adipisci aut?
        Suscipit, dolorem a quam maxime corporis corrupti quos ipsum dolorum quia consequatur qui voluptatibus eos autem
        ipsa officia vitae saepe quae minima facilis quibusdam temporibus optio. Culpa perferendis commodi natus.
      </p>
    </div>
    <div class="col-md-4 bg-secondary text-warning text-right">
      <h6>col-md-4 Bloğu</h6>
      <h6>Secondary Arka Plan</h6>
      <h6>Warning Yazı Rengi</h6>
      <h6>Yazılar Sağa Yaslanmış</h6>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi autem consequuntur dolor impedit aperiam, nam
        commodi repellat eligendi sapiente obcaecati quisquam, voluptatibus expedita quas vel eius fugit, labore
        mollitia.
        Illum!
        Numquam debitis est quibusdam veniam voluptatibus eveniet consequuntur velit, illo, blanditiis explicabo aliquam
        at illum necessitatibus culpa, assumenda provident aperiam reprehenderit esse laborum reiciendis quia? Delectus
        voluptatem inventore adipisci aut?
        Suscipit, dolorem a quam maxime corporis corrupti quos ipsum dolorum quia consequatur qui voluptatibus eos autem
        ipsa officia vitae saepe quae minima facilis quibusdam temporibus optio. Culpa perferendis commodi natus.
      </p>
    </div>
    <div class="col-md-4 bg-success text-white text-justify">
      <h6>col-md-4 Bloğu</h6>
      <h6>Success Arka Plan</h6>
      <h6>White Yazı Rengi</h6>
      <h6>Yazılar İki Yana Yaslanmış</h6>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi autem consequuntur dolor impedit aperiam, nam
        commodi repellat eligendi sapiente obcaecati quisquam, voluptatibus expedita quas vel eius fugit, labore
        mollitia.
        Illum!
        Numquam debitis est quibusdam veniam voluptatibus eveniet consequuntur velit, illo, blanditiis explicabo aliquam
        at illum necessitatibus culpa, assumenda provident aperiam reprehenderit esse laborum reiciendis quia? Delectus
        voluptatem inventore adipisci aut?
        Suscipit, dolorem a quam maxime corporis corrupti quos ipsum dolorum quia consequatur qui voluptatibus eos autem
        ipsa officia vitae saepe quae minima facilis quibusdam temporibus optio. Culpa perferendis commodi natus.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 bg-danger text-warning text-justify">
      <h6>col-md-6 Bloğu</h6>
      <h6>Danger Arka Plan</h6>
      <h6>Warning Yazı Rengi</h6>
      <h6>Yazılar İki Yana Yaslanmış</h6>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi autem consequuntur dolor impedit aperiam, nam
        commodi repellat eligendi sapiente obcaecati quisquam, voluptatibus expedita quas vel eius fugit, labore
        mollitia.
        Illum!
        Numquam debitis est quibusdam veniam voluptatibus eveniet consequuntur velit, illo, blanditiis explicabo aliquam
        at illum necessitatibus culpa, assumenda provident aperiam reprehenderit esse laborum reiciendis quia? Delectus
        voluptatem inventore adipisci aut?
        Suscipit, dolorem a quam maxime corporis corrupti quos ipsum dolorum quia consequatur qui voluptatibus eos autem
        ipsa officia vitae saepe quae minima facilis quibusdam temporibus optio. Culpa perferendis commodi natus.
      </p>
    </div>
    <div class="col-md-6 bg-dark text-light text-right">
      <h6>col-md-6 Bloğu</h6>
      <h6>Dark Arka Plan</h6>
      <h6>Light Yazı Rengi</h6>
      <h6>Yazılar Sağa Yaslanmış</h6>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi autem consequuntur dolor impedit aperiam, nam
        commodi repellat eligendi sapiente obcaecati quisquam, voluptatibus expedita quas vel eius fugit, labore
        mollitia.
        Illum!
        Numquam debitis est quibusdam veniam voluptatibus eveniet consequuntur velit, illo, blanditiis explicabo aliquam
        at illum necessitatibus culpa, assumenda provident aperiam reprehenderit esse laborum reiciendis quia? Delectus
        voluptatem inventore adipisci aut?
        Suscipit, dolorem a quam maxime corporis corrupti quos ipsum dolorum quia consequatur qui voluptatibus eos autem
        ipsa officia vitae saepe quae minima facilis quibusdam temporibus optio. Culpa perferendis commodi natus.
      </p>
    </div>
  </div>
</div>