<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-primary text-center">Standard Navigasyon</h3>
      <ul class="nav">
        <li class="nav-item">
          <a href="navigation" class="nav-link">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Galeri</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">İletişim</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="text-primary text-center">Renkli Navigasyon</h3>
      <ul class="nav">
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-primary">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-secondary">Galeri</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-success">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-danger">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-warning">İletişim</a>
        </li>
      </ul>
    </div>
    <p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-primary text-center">Standard Yatay Navigasyon</h3>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="navigation" class="nav-link">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Galeri</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">İletişim</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="text-primary text-center">Renkli Yatay Navigasyon</h3>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-primary">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-secondary">Galeri</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-success">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-danger">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-warning">İletişim</a>
        </li>
      </ul>
    </div>
    <p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-primary text-center">Renkli Navigasyon Tabs</h3>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-primary">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-secondary">Galeri</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-success">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-danger">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-warning">İletişim</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="text-primary text-center">Renkli Navigasyon Pills</h3>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-primary">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-secondary">Galeri</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-success">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-danger">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-warning">İletişim</a>
        </li>
      </ul>
    </div>
    <p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-primary text-center">Navigasyon Tabs Active</h3>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="navigation" class="nav-link">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link active">Galeri</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">İletişim</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="text-primary text-center">Navigasyon Pills Active</h3>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="navigation" class="nav-link">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link active">Galeri</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">İletişim</a>
        </li>
      </ul>
    </div>
    <p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-primary text-center">Navigasyon Tabs Fill Active</h3>
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a href="navigation" class="nav-link">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link active">Galeri</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">İletişim</a>
        </li>
      </ul>
    </div>
    <p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-primary text-center">Navigasyon Pills Fill Active</h3>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a href="navigation" class="nav-link">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link active">Galeri</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link">İletişim</a>
        </li>
      </ul>
    </div>
    <p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-primary text-center">Renkli Navigasyon Tabs Fill</h3>
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-primary">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-secondary">Galeri</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-success">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-danger">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-warning">İletişim</a>
        </li>
      </ul>
    </div>
    <p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-primary text-center">Renkli Navigasyon Pills Fill</h3>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-primary">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-secondary">Galeri</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-success">Ürünler</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-danger">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a href="navigation" class="nav-link text-light bg-warning">İletişim</a>
        </li>
      </ul>
    </div>
    <p>&nbsp;</p>
  </div>
</div>