<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-primary text-center">Standart HTML Tablo</h3>
            <table>
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Eposta</th>
                        <th>Telefon</th>
                        <th>Yaş</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>İlighan Ünalır</td>
                        <td>placerat@velit.mn</td>
                        <td>0584 379 50 88</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>Natıka Paluluoğlu</td>
                        <td>cursus@porttitor.sd</td>
                        <td>0521 950 87 99</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Meftuha Kaydı</td>
                        <td>risus@sem.gl</td>
                        <td>0554 130 81 29</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>Mahizer Dizdar</td>
                        <td>sodales@quis.biz</td>
                        <td>0561 989 73 23</td>
                        <td>45</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3 class="text-primary text-center">Bootstrap Normal Tablo</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Eposta</th>
                        <th>Telefon</th>
                        <th>Yaş</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>İlighan Ünalır</td>
                        <td>placerat@velit.mn</td>
                        <td>0584 379 50 88</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>Natıka Paluluoğlu</td>
                        <td>cursus@porttitor.sd</td>
                        <td>0521 950 87 99</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Meftuha Kaydı</td>
                        <td>risus@sem.gl</td>
                        <td>0554 130 81 29</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>Mahizer Dizdar</td>
                        <td>sodales@quis.biz</td>
                        <td>0561 989 73 23</td>
                        <td>45</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-primary text-center">Bootstrap Tablo Hover</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Eposta</th>
                        <th>Telefon</th>
                        <th>Yaş</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>İlighan Ünalır</td>
                        <td>placerat@velit.mn</td>
                        <td>0584 379 50 88</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>Natıka Paluluoğlu</td>
                        <td>cursus@porttitor.sd</td>
                        <td>0521 950 87 99</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Meftuha Kaydı</td>
                        <td>risus@sem.gl</td>
                        <td>0554 130 81 29</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>Mahizer Dizdar</td>
                        <td>sodales@quis.biz</td>
                        <td>0561 989 73 23</td>
                        <td>45</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3 class="text-primary text-center">Bootstrap Tablo Striped</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Eposta</th>
                        <th>Telefon</th>
                        <th>Yaş</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>İlighan Ünalır</td>
                        <td>placerat@velit.mn</td>
                        <td>0584 379 50 88</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>Natıka Paluluoğlu</td>
                        <td>cursus@porttitor.sd</td>
                        <td>0521 950 87 99</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Meftuha Kaydı</td>
                        <td>risus@sem.gl</td>
                        <td>0554 130 81 29</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>Mahizer Dizdar</td>
                        <td>sodales@quis.biz</td>
                        <td>0561 989 73 23</td>
                        <td>45</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-primary text-center">Bootstrap Tablo Dark</h3>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Eposta</th>
                        <th>Telefon</th>
                        <th>Yaş</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>İlighan Ünalır</td>
                        <td>placerat@velit.mn</td>
                        <td>0584 379 50 88</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>Natıka Paluluoğlu</td>
                        <td>cursus@porttitor.sd</td>
                        <td>0521 950 87 99</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Meftuha Kaydı</td>
                        <td>risus@sem.gl</td>
                        <td>0554 130 81 29</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>Mahizer Dizdar</td>
                        <td>sodales@quis.biz</td>
                        <td>0561 989 73 23</td>
                        <td>45</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3 class="text-primary text-center">Bootstrap Tablo Dark Striped</h3>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Eposta</th>
                        <th>Telefon</th>
                        <th>Yaş</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>İlighan Ünalır</td>
                        <td>placerat@velit.mn</td>
                        <td>0584 379 50 88</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>Natıka Paluluoğlu</td>
                        <td>cursus@porttitor.sd</td>
                        <td>0521 950 87 99</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Meftuha Kaydı</td>
                        <td>risus@sem.gl</td>
                        <td>0554 130 81 29</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>Mahizer Dizdar</td>
                        <td>sodales@quis.biz</td>
                        <td>0561 989 73 23</td>
                        <td>45</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-primary text-center">Bootstrap Tablo Small</h3>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Eposta</th>
                        <th>Telefon</th>
                        <th>Yaş</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>İlighan Ünalır</td>
                        <td>placerat@velit.mn</td>
                        <td>0584 379 50 88</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>Natıka Paluluoğlu</td>
                        <td>cursus@porttitor.sd</td>
                        <td>0521 950 87 99</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Meftuha Kaydı</td>
                        <td>risus@sem.gl</td>
                        <td>0554 130 81 29</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>Mahizer Dizdar</td>
                        <td>sodales@quis.biz</td>
                        <td>0561 989 73 23</td>
                        <td>45</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3 class="text-primary text-center">Bootstrap Tablo Bordered</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Eposta</th>
                        <th>Telefon</th>
                        <th>Yaş</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>İlighan Ünalır</td>
                        <td>placerat@velit.mn</td>
                        <td>0584 379 50 88</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>Natıka Paluluoğlu</td>
                        <td>cursus@porttitor.sd</td>
                        <td>0521 950 87 99</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Meftuha Kaydı</td>
                        <td>risus@sem.gl</td>
                        <td>0554 130 81 29</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>Mahizer Dizdar</td>
                        <td>sodales@quis.biz</td>
                        <td>0561 989 73 23</td>
                        <td>45</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-primary text-center">Bootstrap Renkli Hücreler</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Eposta</th>
                        <th>Telefon</th>
                        <th>Yaş</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-active">İlighan Ünalır</td>
                        <td class="table-warning">placerat@velit.mn</td>
                        <td class="table-primary">0584 379 50 88</td>
                        <td class="table-success">24</td>
                    </tr>
                    <tr>
                        <td class="table-danger">Natıka Paluluoğlu</td>
                        <td class="table-info">cursus@porttitor.sd</td>
                        <td class="table-info">0521 950 87 99</td>
                        <td class="table-dark">27</td>
                    </tr>
                    <tr>
                        <td class="table-light">Meftuha Kaydı</td>
                        <td class="bg-primary">risus@sem.gl</td>
                        <td class="table-secondary">0554 130 81 29</td>
                        <td class="bg-success">33</td>
                    </tr>
                    <tr>
                        <td class="bg-info">Mahizer Dizdar</td>
                        <td class="bg-warning">sodales@quis.biz</td>
                        <td class="table-primary">0561 989 73 23</td>
                        <td class="bg-danger">45</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3 class="text-primary text-center">Bootstrap Renkli Satırlar</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Eposta</th>
                        <th>Telefon</th>
                        <th>Yaş</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Meftuha Kaydı</td>
                        <td>risus@sem.gl</td>
                        <td>0554 130 81 29</td>
                        <td>33</td>
                    </tr>
                    <tr class="table-active">
                        <td>İlighan Ünalır</td>
                        <td>placerat@velit.mn</td>
                        <td>0584 379 50 88</td>
                        <td>24</td>
                    </tr>
                    <tr class="table-primary">
                        <td>Natıka Paluluoğlu</td>
                        <td>cursus@porttitor.sd</td>
                        <td>0521 950 87 99</td>
                        <td>27</td>
                    </tr>
                    <tr class="table-secondary">
                        <td>Meftuha Kaydı</td>
                        <td>risus@sem.gl</td>
                        <td>0554 130 81 29</td>
                        <td>33</td>
                    </tr>
                    <tr class="table-success">
                        <td>Mahizer Dizdar</td>
                        <td>sodales@quis.biz</td>
                        <td>0561 989 73 23</td>
                        <td>45</td>
                    </tr>
                    <tr class="table-danger">
                        <td>İlighan Ünalır</td>
                        <td>placerat@velit.mn</td>
                        <td>0584 379 50 88</td>
                        <td>24</td>
                    </tr>
                    <tr class="table-warning">
                        <td>Natıka Paluluoğlu</td>
                        <td>cursus@porttitor.sd</td>
                        <td>0521 950 87 99</td>
                        <td>27</td>
                    </tr>
                    <tr class="table-info">
                        <td>Meftuha Kaydı</td>
                        <td>risus@sem.gl</td>
                        <td>0554 130 81 29</td>
                        <td>33</td>
                    </tr>
                    <tr class="table-light">
                        <td>Mahizer Dizdar</td>
                        <td>sodales@quis.biz</td>
                        <td>0561 989 73 23</td>
                        <td>45</td>
                    </tr>
                    <tr class="table-dark">
                        <td>Natıka Paluluoğlu</td>
                        <td>cursus@porttitor.sd</td>
                        <td>0521 950 87 99</td>
                        <td>27</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><strong>* Bu özellikler aynı tablo üzerinde aynı anda da kullanılabilir.</strong></p>
        </div>
    </div>
</div>