<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="col-md-12 text-center">Tablo Çalışıyor</h3>
        </div>
    </div>
    <div class="row">
        <table class="col-md-12">
            <thead>
                <tr>
                    <td>Cuma</td>
                    <td>Cumartesi</td>
                    <td>Pazar</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50</td>
                    <td>20</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>95</td>
                    <td>66</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>24</td>
                    <td>32</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>