<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>İçine Yazılan Yazıyı Ekrana Boşluklu Yazar.</label>
        <input type="text" class="form-control" ngModel [(ngModel)]="yazi">
      </div>
      {{yazi | BoslukluYaz}}
    </div>
  </div>
  <div class="row">
    <p>&nbsp;</p>
    <div class="col-md-12">
      <p><strong>
          * Pipe, ekrana yazılacak bir değişkenin ekrandaki gösteriminin değiştirilmesini sağlar.
        </strong></p>
      <p><strong>
          * Pipe'da, değişkenin değeri değişmez. Sadece ekranda gösterilen değer değişir.
        </strong></p>
    </div>
  </div>
</div>